/* Sample Changes in Styles */
.dropdown-item {
  color: white;
  background-color: black;
}
.dropdown-item:hover {
  color: black;
}
.card {
  background-color: black;
  color: white;
}

.placeholder::placeholder {
  color: white;
}
